<%= form_for(@reenactment) do |f| %>
  <% if @reenactment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reenactment.errors.count, "error") %> prohibited this reenactment from being saved:</h2>

      <ul>
      <% @reenactment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desciprtion %><br />
    <%= f.text_field :desciprtion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
