<h1>Listing reenactments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desciprtion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reenactments.each do |reenactment| %>
  <tr>
    <td><%= reenactment.title %></td>
    <td><%= reenactment.desciprtion %></td>
    <td><%= link_to 'Show', reenactment %></td>
    <td><%= link_to 'Edit', edit_reenactment_path(reenactment) %></td>
    <td><%= link_to 'Destroy', reenactment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reenactment', new_reenactment_path %>
