<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reenactment.title %>
</p>

<p>
  <b>Desciprtion:</b>
  <%= @reenactment.desciprtion %>
</p>


<%= link_to 'Edit', edit_reenactment_path(@reenactment) %> |
<%= link_to 'Back', reenactments_path %>
